header {
    background-image: url(../img/wall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

    div:nth-of-type(1) {
        width: 20%;
        position: absolute;
        top: 5%;
        left: 5%;
    }

    .nav-contain {
        position: absolute;
        right: 8%;
        top: 25%;
        opacity: 0;
        transition: all .8s ease;
        z-index: -1;
        background: rgba(11, 11, 11, 0.8);
        border-radius: 25px;
        padding: 15px;

        nav {
            ul {
                li {
                    margin-top: 15px;

                    a {
                        text-decoration: none;
                        color: white;
                        font-family: "Hades";
                        font-size: 3rem;
                        transition: all .5s ease;

                        &:hover {
                            text-decoration: underline;
                            color: rgb(203, 139, 22);
                        }
                    }
                }
            }
        }
    }
}

@import '_hamb.scss';