@import '_perso.scss';
@import '_olympe.scss';

main {
    section {
        h2 {
            color: white;
            font-family: "Hades";
            font-size: 4rem;
            text-align: center;
            background-color: black;
            padding: 2%;
        }

        &:nth-of-type(1) h2{
            border: solid 1px grey;
        }

    }
}