main section:nth-of-type(2) section:nth-of-type(1) {
    background-image: url(../img/fond2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120vh;
    position: relative;

    >div {
        h3 {
            font-family: "Hades";
            font-size: 3rem;
            padding: 10px;
        }
    }

    >div:nth-of-type(1) {
        color: rgb(227, 195, 32);
        width: 20%;

        h3 {
            position: absolute;
            top: 36%;
            left: 5%;
            background-color: rgb(53, 117, 213);
            border-radius: 15px;
            width: 20%;
            text-align: center;
        }

        div {
            width: 20%;
            position: absolute;
            top: -2%;
            left: 5%;
        }
    }
}

