main section:nth-of-type(1) section:nth-of-type(1) {
    color: rgb(255, 196, 0);
    position: relative;
    height: 120vh;
    background-color: rgb(169, 23, 45);

    article {
        position: absolute;
        top: 30%;
        right: 5%;
        width: 40%;

        h3 {
            font-family: "Hades";
            font-size: 3rem;
            padding-bottom: 5%;
            text-align: center;
        }

        p {
            font-family: "Poppins";
            font-size: 1.3rem;
            text-align: right;
        }
    }

    div {
        position: absolute;
        top: -8%;
        left: 5%;
        width: 45%;
    }

}